.home {
  height: calc(100vh - 65px);
  overflow: auto;
  align-items: center;
  text-align: center;
  display: flex;
  padding-top: 80px;
  @include media-md-max {
    flex-direction: column-reverse;          
  }
  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
  > {
    div{
      flex: 1 1 100%;
      height: 100%;  
      &:nth-of-type(1){
        max-width: 40%;
        display:flex;
        flex-direction: column;
        @include media-md-max {
          max-width: 100%;
          width: 90%;          
        }
        .arrow-down-right{
          mask-image: url(../img/arrow-down-right.svg);
          mask-repeat: no-repeat;
          mask-size: auto;
          background: url(../img/arrow-down-right.svg) $primary-color;
          background-size: 0px;
          padding: 13rem 11rem;
          display: inline-block;
          mask-position: 100%;
          @include media-md-max {
            padding: 4rem 11rem;        
          }
        }
        > {
          section{
            &:nth-of-type(1){
              height: 75%;
              display: flex;
              align-items: end;
              justify-content: flex-end;
              @include media-md-max {
                height: auto;
              }
            }
            &:nth-of-type(2){
              height: 25%;
              @include media-md-max {
                height: auto;
              }
              > div{
                border-bottom: 1px solid $primary-color;
                margin-left: 20px;
                @include media-md-max {
                  margin-left: 0;
                }
                > {
                  a{
                    padding: 10px;
                    color: $primary-color;
                    display: inline-block;
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }
      }
      &:nth-of-type(2){
        max-width: 60%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include media-md-max {
          max-width: 100%;
          width: 100%;          
        }
        > {
          section{
            background-color: $fourth-color;
            height: 80%;
            width: 90%;
            border-radius: 10px;
            text-align: left;
            padding: 20px;
            > p{
              font-size: 3rem;
              line-height: 110%;
              font-weight: 700;
              color: $third-color;
              @include media-md-max {
                font-size: 2rem;
              }
              @include media-md-sm {
                font-size: 1.9rem;
              }
              &#info{
                display: inline-block;
                position: relative;
              }
              +
              .blinking{
                position: absolute;
                right: -12px;
                font-size: 3rem;
                color: $fourth-color;
              }
            }
          }
        }
      }
    }
  }
}
.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}