.projects {
  padding-top: 80px;
  @include media-md-max {
    padding-top: 40px;
  }
}

// masonry layout
.masonry-grid-container {  
  background-color: $secondary-color;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em 1em;
  grid-auto-flow: row;
  padding: 1rem;
  grid-template-areas:
    "a b b"
    "c b b"
    "c d e"
    "f f e"
    "f f g"
    "h i i";
    @include media-md-max {
      display: flex;
      flex-direction: column;   
    }
}
.item-a { grid-area: a; }

.item-b { grid-area: b; }

.item-c { grid-area: c; }

.item-d { grid-area: d; }

.item-e { grid-area: e; }

.item-f { grid-area: f; }

.item-g { grid-area: g; }

.item-h { grid-area: h; }

.item-i { grid-area: i; }


.masonry-grid-container > div[class] {
  background: #ececec;
  position: relative;
  border-radius: 1rem;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: stretch;
}
.masonry-grid-container{
  .info-card{
    display: flex;
    flex-direction: column;
    @include media-md {
      background-size: 100%;
    }
    background-size: cover;
    position: relative;
    overflow: hidden;
    justify-content: space-around;
    > {
      div{
        z-index: 2;
        @include media-md {
          opacity: 0;
        }
      }
      hr{
        z-index: 2;
        @include media-md {
          opacity: 0;
        }
      }
    }
    @include media-md {
    &:hover{
        background-size : 120% !important;
          div{
            opacity: 1;
          }
          hr{
            opacity: 1;
          }
    }
  }
    &::after{
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: rgb(255 255 255 / 59%) !important;
      @include media-md {
        background-color:rgba(255, 255, 255, 0.093) !important;
      }
      @include media-md {
        &:hover{
          &::after{
            background-color: rgb(255 255 255 / 59%) !important;
          }
        }
      }
    }
    @include media-md {
      &:hover{
        &::after{
          background-color: rgb(255 255 255 / 59%) !important;
        }
      }
    }
    background-repeat: no-repeat;
    .end-content-info{
      &:first-of-type{
        justify-content: flex-start;
        gap: 5px;
        flex-wrap: wrap;
        .info-icon{
          margin-left: auto;
          @include media-md-max {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
    } 
    .title-text{
      margin: 7px 0px;
      font-weight: 500;
    }
  }

}
// masonry layout