body {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

  .box {
    width: 150px;
    height: 150px;
    background: coral;
    opacity: 0;
    transform: translateY(50px);
  }