@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'explore';
@import 'responsive';
*{
  transition: all ease 0.2s;
}
body {
  background-color: antiquewhite;
  color: set-text-color($primary-color);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 80px;
}

main {
  height: 100%;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
.see-more{
  margin: 10px auto;
  width: 98%;
  border-bottom: 1px solid $secondary-color;
  padding: 10px;
  border-top: 1px solid $secondary-color;
  font-size: 1.3rem;
  line-height: 100%;
  text-align: end;
  i{
    position: relative;
    height: 17px;
    width: 20px;
    display: inline-block;
  }
  i::before{
    content: url("../img/circle-arrow-right.svg");
    top: 0;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color($primary-color);
}
hr{
  border: 0;
  border-top: 1px solid #000;
}
hr{
  &.bubble-hr{
    position: relative;
    overflow: visible;
    &::after{
      content: "";
      position: absolute;
      height: 9px;
      width: 9px;
      background-color: #000;
      border-radius: 100vw;
      right: 0;
      margin-top: -5px;
    }
    &::before{
      content: "";
      position: absolute;
      height: 9px;
      width: 9px;
      background-color: #000;
      border-radius: 100vw;
      left: 0;
      margin-top: -5px;
    }
  }
}
.info-card{
  color: #000;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  height: 100%;
  h2{
    font-size: large;
  }
  h4{
    font-size: large;
  }
  h6{
    font-size: large;
  }
  p{
    font-size: large;
  }
  .end-content-info{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }
}
.heading-icon{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  h1{

  }
  a{
    border: 1px solid #000;
    border-radius: 100vw;
    width: 28px;
    height: 28px;
    position: relative;
    &::after{
      content: "";
      display: inline-block;
      mask-image: url(../img/angle-down.svg);
      background-image: url(../img/angle-down.svg);
      background-color: #000;
      mask-position: 50%;
      background-size: 0px;
      background-position: 0%;
      mask-repeat: no-repeat;
      mask-size: auto;
      position: absolute;
      inset: 2px;
    }
  }
}
.round-pill{
  display: inline-flex;
  border: 1px solid #000;
  padding: 2px 10px;
  border-radius: 1rem;
}